<div class="reveal">

	<!-- Used to fade in a background when a specific slide state is reached -->
	<div class="state-background"></div>
	
	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">
		<section>
			<h1>Nick Boucart</h1>
			<h3>Short Bio</h3>
			<script>
				// Delicously hacky. Look away.
				if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) ) document.write( '<p style="color: rgba(0,0,0,0.3); text-shadow: none;">('+'Tap to navigate'+')</p>' );
			</script>
		</section>
		<section>
			<p>Nick on the Net</p>
			<img src="/images/google-nick.png">
		</section>
		
		<section>
				<p>Carreer</p>
				<img src="/images/linkedin-nick.png">
		</section>
		
		<section>
			<p>Interests</p>
				<img src="/images/interests-nick.png">
		</section>

		<section>
			<p>Current Focus</p>
			<iframe width="960px" height="650px" src="http://www.nebucom.be" id="nebucom" onLoad="resizer('nebucom');"></iframe>
		</section>

		<section>
			<p>Lean Startup</p>
			<iframe src="http://www.slideshare.net/slideshow/embed_code/12649401" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
		</section>

		<section>
			<p>Growth Hacking</p>
			<iframe src="http://www.slideshare.net/slideshow/embed_code/28481455?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
		</section>

		<section>
			<h4>Some stuff I hacked together over the years</h4>
		</section>

<section>
	<img src="/images/art-of-software-innovation.png">
</section>

<section>
	<iframe src="http://start-to-reken.redrobinsoftware.net/" width="640px" height="1152px"></iframe>
</section>

<section>
	<iframe src="http://nickboucart.github.io/kortrijk/" width="720px" height="1152px"></iframe>
</section>

<section>
	<iframe src="http://startupdash.herokuapp.com/" width="720px" height="1152px"></iframe>
</section>

<section>
	<h4>HockeyStickWeekly and Twitterbots</h4>
</section>

<section>
	<iframe src="http://hockeystickweekly.com" width="720px" height="800px"></iframe>
	<a href="http://hockeystickweekly.com">http://hockeystickweekly.com</a>
</section>

<section>
	<img src="/images/hsw-twitter.png">
</section>
<section>
	<img src="/images/hsw-twitter-growth.png">
</section>

	</div>
	
</div>





